.contactSection {
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
  margin-top: 20px;
}

.contactInfo {
  margin-top: 20px;
}

.contactIcons {
  display: flex;
  align-items: center;
  justify-content: center; /* Center the icons horizontally */
  margin-top: 10px;
}

.iconLink {
  margin: 0 10px; /* Add some margin between the icons */
}

.icon {
  font-size: 2em;
  color: #333;
  transition: color 0.3s ease-in-out;
}

.icon:hover {
  color: #0070f3;
}
