@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  @apply transition-all duration-300 ease-in-out;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Outfit', sans-serif;
}

@media (min-width: 768px) {
  body {
    margin: 0 5%;
  }
}

header {
  @apply font-bold mb-2 transition-opacity; /* Apply opacity transition */
  text-align: center;
  font-family: 'Bungee Spice', sans-serif; /* Apply Bungee font */
  padding: 50px;
  width: auto;
}

header > h1 {
  @apply text-6xl;
}

header > p {
  @apply text-3xl;
}

div > h2 {
  @apply text-3xl mb-4 font-bungee-spice text-left;
}

div#about {
  @apply px-8;
}

div#projects {
  @apply px-4 md:px-8;
}

section {
  @apply text-justify bg-white border shadow-md rounded-2xl; /* Section style with shadow and rounded corners */
}

.project {
  @apply border p-4 mb-4;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 0.5s ease-in-out; /* Adjust duration and easing as needed */
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
