.project {
  border: 2px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  transition: border-color 0.3s ease;
  cursor: pointer;
}

.active {
  border-color: #EA580C;
}

.project:hover {
  border-color: #EA580C;
}

.proprietary {
  cursor: pointer;
  padding: 5px;
  background-color: #333;
  color: white;
  font-size: 12px;
  border: none;
  border-radius: 3px;
  transition: background-color 0.3s ease;
  display: inline-block;
  margin-bottom: 10px;
}

.thumbnailContainer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.thumbnail {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin: 2px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.activeThumbnail {
  border-color: #EA580C;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2rem;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 100%;
}

.mainImage {
  max-width: 100%;
  max-height: 80vh;
  border: 2px solid #555;
  background: #6b7280;
}

.prevButton, .nextButton {
  position: absolute;
  transform: translateY(-50%);
  color: #EA580C;
  border: none;
  padding: 5px 20px;
  font-size: 24px;
  cursor: pointer;
  border-radius: 5px;

  @apply md:top-1/2 top-28;
}

.prevButton {
  left: 10px;
}

.nextButton {
  right: 10px;
}

.prevButton:hover, .nextButton:hover {
  color: white;
  background: rgba(0, 0, 0, 0.5);
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 24px;
  line-height: 1;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10;
  transition: background 0.2s;
}

.closeButton:hover {
  background: rgba(0, 0, 0, 0.8);
}

.clickableImage {
  cursor: pointer;
}
